.columnTopBar{
	background-color: #FF8585;
	height: 25px;
	border-bottom: 1px solid #FFFFFF;
}

#messageBox{
	overflow-y: auto;
	overflow-x: hidden;
	height: 500px;
	
	box-shadow: 0px 2px 10px 3px #888888;
	border-radius: 1px;
}

#chatUsers{
	box-shadow: 0px 2px 10px 3px #888888;
	border-radius: 1px;
}

.middleSpace{
	height: 20px;
	width: 20px;
}

#onlineUsers{
	overflow-y: auto;
	background-color: white;
	min-height: 400px;
}

#submitForm{
	display: none;
}

#chatLineHolder{
	overflow-y: auto;
	height: 300px;
	background-color: white;
}

#chatBottomBar{
	border-top: 1px solid #FFFFFF;
}