@media screen and (max-width: 660px) {
	.banner h1{
		margin-top: 0px;
	}
}
@media screen and (max-width: 540px) {
	#serverInfo{
		display: none;
	}
}

html, body {
   margin:0;
   padding:0;
   height:100%;
}

.body{
	background-color: #FFFFFF;
}

.topBar{
	color: white;
	background-color: #FF7272;
	height: 60px;
}

.inlineBlock{
	display: inline-block;
}
	
#serverIcon{
	height: 60px;
	float: left;
	padding-top: 13px;
	text-align: center;
	width: 70px;
}

#serverInfo{
	height: 60px;
	padding-top: 10px;
	margin-left: 60px;
	text-align: center;
	width: 260px;
}

#topRightDiv{
	height: 60px;
	padding-top: 17px;
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	width: 220px;
}


.worksHeader{
	color: white;
	background-color: #FF6262;
}


.footer{
	background-color: #FF6262;
	height: 80px;
	text-align: center;
}
.footer p{
	color: white;
	padding-top: 20px;
	font-size: 16px;
}